.header{
    margin-bottom: 20px;
    width: 100%;
    position: fixed;
    top: 0;
}
.Brand{
    margin-top: -10px;
    font-size: 25px;
}

.Navbar {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.Navbar:hover {
    text-decoration: none;
    color: #f5f6fa;
}